.container {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    @media (max-width: 768) {
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
    }
}

.container span {
    @media (max-width: 441px) {
        display: none;
    }
}

.column {
     display: flex;
    gap: 0.75rem;
    flex-direction: row;
    align-items: center;
}