.userMenu {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;
}
.userInfo span {
    font-size: 12px;
    font-weight: 300;
}