.titleContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    @media (max-width: 1024px) {
        flex-direction: column;
        padding-bottom: 1rem;
        gap: 0.5rem
    }
}

.titleContainer h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--color-text-primary);
     @media (max-width: 768px) {
         font-size: 1.5rem;
    }
}