/* "default" | "active" | "orange" | "darkGray" | "primary" */

.badge {
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.75rem;
    font-weight: 500;
    display: inline-block;
}

.default {
    background-color:  var(--color-badge-default);
    color: var(--color-text-primary);
}

.active {
    background-color: #dff1df;
    color: #067c29;
}
.orange {
    background-color: #cf4920;
    color: #ffffff;
}

.darkGray {
    background-color: #707275;
    color: #ffffff;
}

.primary {
    background-color: var(--color-brand-primary);
    color: var(--color-text-primary);
}