/* "default" | "active" | "orange" | "darkGray" | "primary" */

.badge {
    padding: 0.15rem 0.45rem;
    border-radius: 9999px;
    font-size: 0.65rem;
    font-weight: 500;
    display: inline-block;
}

.default {
    background-color:  var(--color-badge-default);
    color: var(--color-text-primary);
}

.active {
    background-color: var(--color-badge-bg-active);
    color: var(--color-success);
}
.orange {
    background-color: var(--color-map-marker-active);
    color: var(--color-text-inverse)
}

.darkGray {
    background-color: var(--color-badge-bg-dark-gray);
    color: var(--color-text-inverse);
}

.primary {
    background-color: var(--color-brand-primary);
    color: var(--color-text-primary);
}

.error {
    background-color: #f8d8da;
    color: #c21923;
}