.searchInput {
  position: relative;
  display: inline-flex;
  align-items: center;

  width: auto;
  height: 40px;

  background-color: var(--color-bg-surface);
  border-radius: 4px;

  padding: 0 12px;
}

/* Input */
.input {
  flex: 1;

  height: 100%;
  border: none;
  background: transparent;

  font-size: 14px;
  color: var(--color-text-primary);
  outline: none;
  padding: 0
}

.input::placeholder {
  color: var(--color-text-muted);
}

/* Icon */
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: var(--color-text-muted);
  margin-left: 8px;
}

/* Focus state */
.searchInput:focus-within {
  border-color: var(--color-brand-primary);
  box-shadow: 0 0 0 2px rgba(254, 197, 16, 0.25);
  outline: 1px solid var(--color-brand-primary);
}